#content1, #content2 {
    display: none;
    
}
.button{
    color: rgb(226, 136, 202);
    background-color: rgb(14, 42, 47);
    width: 25%;
    aspect-ratio: 5 / 1;
    margin: 0 4%; 
    border-radius: 8px;
    font-size: 5vw;
}
#butopa{
    display: flex;
    justify-content: center; 
    align-items: center; 
   
}
body{
    background: rgb(277, 38, 54);
}
.pyt{
    color: rgb(14, 42, 47);
    font-size: 5vw;
    
   
}
.pyt2{
    color: rgb(14, 42, 47);
    font-size: 3vw;
}
#question{
    margin-top: 15%;
}
#wiersz{
    display: none;
}
#zap{
    display: block;
}
#kc{
    width: 18vw;
    height: 18vw;
}
#serca{
    width: 30%;
}

